# R session artifacts
.RData
.Rhistory
.Rapp.history

# RStudio project user settings
.Rproj.user/

# renv (deactivated, not used)
renv/
renv.lock

# Quarto intermediate files
/.quarto/
*_cache/
*_files/libs/

# OS artifacts
.DS_Store
Thumbs.db
desktop.ini

# Temporary files
*.tmp
*.bak
*~